.divContainer {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 100px;
    place-content: center;
    
}

.divContainer ul{
    list-style: none;
    padding-left: 0px;
}
.answer {
    margin-top: 100px;
    text-align: center;
}

.btn {
    color: white;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 50px;
    margin-bottom: 30px;
    background-color: rgb(80, 95, 214);
    border-radius: 5px;
    
}

@media (max-width: 500px) {
    .divContainer {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
}