.facu{
  background-color: #fff;
}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.dark{
  
  filter:invert(1)
}

.navBar {

  width: 100vw;
  height: 15vh;

}

.byn{
  background-color: #282c34;
}


.btn {
  color: white;
  border: none;
  cursor: pointer;
  width: 90px;
  height: 50px;
  background-color: rgb(80, 95, 214);
  border-radius: 5px;
}