.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    background-color:darkslategrey;
}

.navBar {

  width: 100vw;
  height: 15vh;

}


  