.card{
    width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    height: 520px;
    box-shadow:  5px 5px 15px  rgba(0, 0, 0, 0.411);
}

.image {
    width: 350px;
    border-radius: 15px;
}

.card2 {
    text-align: center;
}
