.containerContact {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.formContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    margin-top: 50px;
}
.info {
    text-align: center;
    width: 50%;
}

.info h1{
    margin-top: 50px;
    margin-bottom: 30px;
}
.input{
    margin: 0;
    width: 380px;
    height: 40px;
    position: relative;
    border-radius: 5px;
    background-color: white;
    padding-left: 5px;
}

.btn {
    color: white;
    border: none;
    cursor: pointer;
    width: 380px;
    height: 40px;
    margin-top: 30px;
    background-color: rgb(80, 95, 214);
    border-radius: 5px;
    
}

@media (max-width: 500px) {
    .containerContact{
        flex-direction: column;
    }
    .formContainer {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}