.fondo{
    background-color: #fff;
    
  }
.cart {
    
    display: flex;
    flex-direction: row;
    gap: 100px;
    
    height: 100%;
    
}
.summary__checkoutBtn {
    background: none;
    
    
    background-color: #fff;
}
.cartSummary {
    
    
    text-align: center;
}