.fondo{
    background-color: #fff;
  }
.cart {
    border-radius: 10px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    margin-bottom: 20px;
}
.summary__checkoutBtn {
    background: none;
    border-radius: 5px;
    margin-top: 20px;
}
.cartSummary {
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 10%;
    text-align: center;
}
.span {
    margin-top: 20px;
}
@media (max-width: 500px) {
    .cart {
        margin-left: 0;
        flex-direction: column;
        gap: 50px;
    }
    .cartSummary {
        margin-bottom: 100px;
        text-align: center;
        margin-left: 0;
        margin-top: 0;
    }
}