.cartItem {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-top: 20px;
}

.cartItemDetails {
    margin-left: 40px;
}
.cartItemQty{
    margin-top: 20px;
    
}

.input {
    width: 40px;
    margin-right: 30px;
}