.cartItem {
    
    display: flex;
    flex-direction: row;
    
    margin-top: 20px;
}

.cartItemDetails {
    margin-left: 40px;
}
.cartItemQty{
    margin-top: 20px;
    
}
.cartItemActions {
    
    margin-left: 40px;
}

.input {
    width: 59px;
    margin-right: 30px;
    margin-left: 20px;
    padding-left: 12px;
}