.container {
    display: flex;
   place-content: center;
 
    

}
.prf {

    margin-top: 10px;

}
.input {

    margin: 0;
    width: 18rem;
    height: 40px;
    position: relative;
    border-radius: 5px;
    background-color: white;
    padding-left: 5px;
    margin-top: 1rem;

}

.containerCard {

    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;

}

.btn {

    color: white;
    border: none;
    cursor: pointer;
    width: 18rem;
    height: 3rem;
    background-color: rgb(80, 95, 214);
    border-radius: 5px;

}

.containerCard h2 {
    margin-bottom: 30px;
}