.navContainer{
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 252, 252);
  z-index: 999;
}
.dark{
  background-color: #fff;
  filter:invert(1)
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  z-index: 999;
}

.prf {
  margin-left: 10px;
  font-size: 17px;
}

.toggleButton {
  position: absolute;
  top: 5.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: ease 0.3 seg;
}

.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: ease 0.3 seg;
  z-index: 100;
}
.containerCuentas{
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content:center;
  z-index: 999;
  
}
.container2 {
  display: flex;
  align-items: center;
}
.containerCuentas2{
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: center;
  z-index: 999;
}
.links{
  text-decoration: none;
  color: black;
}

.logo {
  width: 250px;
  margin-right: 40px;
}

.navbarLinksActive ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: ease 0.3 seg;
  gap: 10px;
  z-index: 999;
}
.navbarLinksActive li {
  list-style: none;
  z-index: 999;
}

@media (max-width: 1150px) {
  .navContainer {
      flex-direction: column;
      align-items: center;
  }

  .toggleButton {
      display: flex;
  }
  .navbarLinksActive {
    display: flex;
  }
  .container {
    flex-direction: column;
  }

  .logo{
    margin-top: 100px;
    margin-right: 60px;
    margin-bottom: 10px;
  }
  .cart {
    margin-left: 30px;
    
  }
}