/* .lista {

    display: flex;
    width: 100vw;
    height: 15vh;
    margin: 0;
    padding: 0;


} */

.userNavBarContainer {

    background-color:white;
    height: 3rem;

}

/* .listContainer {

    width: 100vw;
    height: 15vh;
    margin: 0;
    padding: 0;


} */

/* .avatar {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 10%;
    font-size: 1.5rem;

} */

/* .misCompras {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 10%;
    font-size: 1.5rem;

} */

/* .favoritos {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 10%;
    font-size: 1.5rem;

} */

/* .carrito {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 10%;
    font-size: 1.5rem;

} */

/* .logout {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 10%;
    font-size: 1.5rem;

} */